.dash0{
    display: flex;
    flex-direction: row;
}
.dash1{
    display: flex;
    flex-direction: column;
    width: 389px;
    height: 2023px;
    background-color: #0B6BA8;
    align-items: center;
    
}
.dash2{
   
    display: flex;
    align-items: center;
    color: white;
    font-size: 24px;
}
.dash3{
   
    display:  flex;
    flex-direction: row;
    align-items: center;
    color: white;
    background-color: #50C9F9;
    width: 330px;
    height: 108px;
    border-radius: 20px;
    justify-content: space-around;
    font-size: 24px;
}
.dash3:hover{
    cursor: pointer;
    background-color: #0B6BA8;
}
.dash4{
    display:  flex;
    flex-direction: row;
    align-items: center;
    color: white;
    
    width: 330px;
    height: 108px;
    border-radius: 20px;
    justify-content: space-around;
    font-size: 24px;
}
.dash4:hover{
    cursor: pointer;
    background-color: #50C9F9;
}
.dash5{
    display: flex;

    justify-content: space-between;
   
    width: 965px;
    align-items: center;
    margin: 15px;
}